.banner{
    background-image: url("/public/images/banner02.jpg");
    background-color: blue;
    max-width:100% !important; 
    min-height:400px;
    object-fit: cover;
    filter: opacity(0.8);
    background-color: darkblue;
    width:100vw; 
    height:400px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    color: white;
}
.cinema{
    background-color: rgb(0,18,50);
}
.seatpbg{
    background-color: rgb(1,23,63) !important;
color: aliceblue;
}
.topictext{
    border-top: 1px solid blue ;
    border-bottom:1px solid blue ;
    display: flex;
    padding: 15px;
    justify-content: center;
    width:30%;
    text-align: center;
}